.field {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #ddd;
  border: 1px solid #999;
  width: 30vw;
  height: 30vw;
  background-size: cover;
  background-position: center center;
}

.x {
  background-image: url("../../assets/icons/close_black.svg");
}
.o {
  background-image: url("../../assets/icons/radio_button_black.svg");
}
