#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.checkboxDarkmode {
  position: fixed;
  right: 10px;
  top: 10px;
}
.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

.darkmode-switch {
  display: flex;
  align-items: center;
  margin-top: 10px;
  position: fixed;
  right: 10px;
  top: 10px;
}

.darkmode-icon {
  width: 40px;
  height: 40px;
  margin-left: 10px;
  cursor: pointer;
}

.endScreen {
  background-color: rgba(211, 211, 211, 0.655);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.test {
  background-color: red;
}
.gameBoard {
  width: 350px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}
